/* assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.container_main {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #238f8e, #5d0101); /* Gradient background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  border-radius: 10px; /* Rounded corners */
  position: relative;
  overflow: hidden;
}

.container_main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none; /* Allow clicking through the pattern layer */
}


html, body{
    height:100%;
    margin:0;
    padding:0;
}

#main{
    position: fixed;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
}

#app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    background-color: rgb(51, 8, 0);
    width: 80%;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
          rgba(245, 73, 144, 0.5) 5px 10px 15px;
  }
  
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
  }
  
  .card {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 22px;
    transition: all 0.3s;
  }
  
  .card2 {
    border-radius: 0;
    transition: all 0.2s;
  }
  
  .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
  }
  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button1:hover {
    background-color: black;
    color: white;
  }
  
  .button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button2:hover {
    background-color: black;
    color: white;
  }
  
  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button3:hover {
    background-color: red;
    color: white;
  }


  /* Problem list */
  .container {
    width: 300px;
    height: 320px;
    background-color: #343541;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  
  .nav-bar {
    width: 100%;
    height: 40px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-bar a {
    color: #6B6C7B;
    white-space: nowrap;
    margin-left: 10px;
    user-select: none;
  }
  
  .close {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .line {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #6B6C7B;
    border-radius: 30px;
  }
  
  .line.one {
    transform: rotate(45deg)
  }
  
  .line.two {
    transform: rotate(135deg)
  }
  
  .messages-area {
    background-color: green;
    width: 100%;
    height: 210px;
  }
  
  .sender-area {
    background-color: #343541;
    width: 100%;
    height: 70px;
    display: flex;
    border-radius: 8px;
  }
  
  .message {
    width: 100%;
    height: 40px;
  }
  
  .message.one,
  .message.three,
  .message.five {
    background-color: #2E2F3A;
  }
  
  .message.two,
  .message.four,
  .message.six {
    background-color: #343541;
  }
  
  .send-img {
    width: 30px;
  }
  
  .send-input {
    outline: none;
    display: flex;
    border: none;
    background: none;
    height: 40px;
    width: 230px;
    border-radius: 7px;
    background: none;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
  }
  
  .send-input::placeholder {
    color: #828E9E;
  }
  
  .input-place {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 10px;
    align-items: center;
    background-color: #40414F;
    border-radius: 7px;
    height: 40px;
    width: 280px;
    gap: 5px;
    border: 1px solid #2E2F3A;
  }
  
  .send {
    width: 30px;
    height: 30px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .send-icon {
    width: 17px;
  }
  
