{% extends "../layout.html" %}
{% block body %}
<div class="container text-center" id="home">
    {% if user.is_authenticated %}
    <h2>Hello {{ user.username }}! Welcome back to HeatWave.</h2>
    {% else %}
    <h2>Hello Coder! Ready to start your coding journey?</h2>
    {% endif %}
    <div class="row">

        <div class="col" id="comment" style="font-size:50px;  background: linear-gradient(to right,#2c6443, #203a43, #0f2027);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; ">
            <!--div class="row">
            <div class="col" >
              Do Your best!
            </div>
          </div--->
        </div>
        <div class="col" id="tag">
            <div class="row" id="name" style="font-size: 100px; color:rgb(255, 137, 137); padding-left:0px; background: linear-gradient(to right,#fc5a15e9, #203a43, #0f2027);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;">
                Heat Wave
            </div>
            <div class="text-success">
                <hr class="border border-primary border-2 opacity-50">
            </div>
            <div class="row" id="title" style="font-size: 50px ; color:rgb(243, 189, 189);font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-style: normal;">
                Your Favourite Online Judge
            </div>
            <div class="text-success">
                <hr class="border border-primary border-2 opacity-50">
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="user-stats">
            <h3>Your Stats</h3>
            <p>Total Problems Solved: {{ user.solved_problems.count }}</p>
            <!-- <p>Current Rank: {{ user.stats.rank }}</p>
        <p>Last Solved Problem: {{ user.stats.last_problem.title }}</p> -->
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}